<nav class="sidebar">
    <div class="logo-container">
        <div class="logo-sidebar">BlockManager</div>
    </div>
    <div class="users-container">
        <div class="file-info">
            <div class="file-name">{{ username }}</div>
            <div class="file-ext">{{ user_access }}</div>
        </div>
    </div>
    {% for item in menu_data %}
        {% if item.name == 'Пользователи' and users[username]['access'] in ['0', '1'] %}
            <a class="nav-item {% if page == item.page %} active {% elif page == '' and item.page == 'list' %} active {% endif %}" href="{{ item.url | safe }}">
                {{ item.icon | safe }}
                <span>{{ item.name }}</span>
            </a>
        {% elif item.name != 'Пользователи' %}
            <a class="nav-item {% if page == item.page %} active {% elif page == '' and item.page == 'list' %} active {% endif %}" href="{{ item.url | safe }}">
                {{ item.icon | safe }}
                <span>{{ item.name }}</span>
            </a>
        {% endif %}
        {% endfor %}
    <div class="spacer"></div>
    <a class="nav-item" href="/logout">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out ">
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
            <polyline points="16 17 21 12 16 7"></polyline>
            <line x1="21" x2="9" y1="12" y2="12"></line>
        </svg>
        <span>Выход</span>
    </a>
</nav>